#wrap {
    background-color: #fcfcfc;
}

#header-wrap {
    position: relative;
    height: 163px;
}

.top-login-wrap {
    height: 30px;
}

.top-list-wrap {
    position: absolute;
    top: 19px;
    right: 0;
}

.top-list-wrap > li {
    font-size: 11px;
    float: left;
}

.top-list-wrap > li + li {
    padding-left: 23px;
}

.top-list-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.top-menu-wrap {
    margin-top: 30px;
    text-align: center;
    position: relative;
}

.top-menu-wrap > ul {
    display: inline-block;
}

.top-menu-wrap > ul > li {
    float: left;
    width: 104px;
    text-align: center;
    position: relative;
}

.top-menu-wrap > ul > li > span {
    position: absolute;
    top: -19px;
    left: 30px;
    background: url('../img/header/spch-bubl-up.png') center top no-repeat;
    font-size: 12px;
    width: 43px;
    height: 19px;
    line-height: 25px;
    padding-right: 3px;
    color: #ffffff;
}

.top-menu-wrap > ul > li + li {
    margin-left: 3px;
}

.top-menu-wrap > ul > li > a {
    display: block;
    font-weight: bold;
    color: #3e3e3e;
}

.top-menu-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.hover-position {
    width: 1000px;
    position: absolute;
    left: -235px;
}

.top-menu-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.hover-menu {
    font-size: 12px;
    text-align: left;
    float: left;
}