#wrap {
    background-color: #f1f1f1;
}

#header-wrap {
    position: relative;
}

.top-login-wrap {
    height: 30px;
}

.top-list-wrap {
    position: absolute;
    top: 19px;
    right: 0;
}

.top-list-wrap > li {
    font-size: 11px;
    float: left;
}

.top-list-wrap > li + li {
    padding-left: 23px;
}

.top-list-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.top-menu-wrap {
    margin-top: 30px;
    text-align: center;
    position: relative;
}

.top-menu-wrap > ul {
    display: inline-block;
}

.top-menu-wrap > ul > li {
    float: left;
    width: 104px;
    text-align: center;
    position: relative;
}

.top-menu-wrap > ul > li:hover .hover-position {
    visibility: visible;
}

.top-menu-wrap > ul > li > span {
    position: absolute;
    top: -19px;
    left: 30px;
    background: url('../img/header/spch-bubl-up.png') center top no-repeat;
    font-size: 12px;
    width: 43px;
    height: 19px;
    line-height: 25px;
    padding-right: 3px;
    color: #ffffff;
}

.top-menu-wrap > ul > li + li {
    margin-left: 3px;
}

.top-menu-wrap > ul > li > a {
    display: block;
    font-weight: bold;
    color: #3e3e3e;
}

.top-menu-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.hover-position {
    visibility: hidden;
    width: 1000px;
    position: absolute;
    left: -235px;
    padding-top: 6px;
    background: url('../img/header/hover-list-top-line.png') left top repeat-x;
}

.hover-position::after {
    content: "";
    display: block;
    clear: both;
}

.hover-menu {
    font-size: 12px;
    text-align: left;
    float: left;
    width: 200px;
    height: 292px;
    padding-top: 20px;
    padding-left: 5px;
    border-top: 1px solid #302e2d;
    border-left: 1px solid #000000;
    border-right: 1px solid #585858;
    background-color: #272524;
    color: #ffffff;
}

.hover-menu:first-child {
    border-left: none;
}

.hover-menu:last-child {
    border-right: none;
}

.hover-menu > dd {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.hover-menu > dd > a {
    color: #ffffff;
}

.hover-menu > dd > a:hover > span {
    text-decoration: underline;
}

.hover-menu > dd > a:focus > span {
    font-weight: bold;
    background-color: #8009ef;
    padding: 4px;
}

.hover-menu > dt {
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

#contents-wrap {
    padding-top: 298px;
}

.notice-wrap {
    padding: 20px 0 17px 16px;
}

.notice-wrap > ul:first-child > li:not(:first-child) {
    font-size: 11px;
    line-height: 16px;
    vertical-align: middle;
    margin-left: 7px;
}

.notice-wrap > ul > li > strong,
.notice-wrap > ul > li > a > strong {
    font-size: 14px;
    vertical-align: middle;
    color: #5d5d5d;
}

.notice-wrap > ul > li {
    line-height: 16px;
    float: left;
    font-size: 0;
}

.notice-wrap > ul:first-child {
    width: 40%;
    float: left;
}

.notice-wrap > ul:nth-child(2) > li > a {
    display: inline-block;
}

.notice-wrap > ul:nth-child(2) > li > a > img {
    vertical-align: top;
}

.notice-wrap > ul > li > a + a {
    margin-left: 8px;
}

.notice-wrap > ul:nth-child(2) > li:first-child > strong {
    margin-right: 12px;
}

.notice-wrap > ul:nth-child(2) > li + li {
    padding-left: 26px;
}

.notice-wrap > ul:nth-child(2)::after {
    content: "";
    display: block;
    clear: both;
}

.notice-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.banner-img-area {
    font-size: 0;
    position: relative;
}

.pchang-label {
    position: absolute;
    top: -20px;
    left: -20px;
}

.buyticket-wrap > form {
    text-align: center;
    margin-top: 12px;
}

.buyticket-wrap > form > p {
    font-size: 12px;
}

.buyticket-wrap > form > p:nth-child(2) {
    font-size: 30px;
    margin-top: 9px;
}

.buyticket-wrap > form > button {
    margin-top: 10px;
}

.buyticket-wrap > form > p > strong > span {
    color: #8009ef;
}

.discnt-price-wrap,
.buyticket-wrap {
    display: inline-block;
    vertical-align: top;
}

.discnt-price-wrap {
    padding: 27px 42px 17px 40px;
    font-size: 0;
}

.buyticket-wrap {
    padding-left: 64px;
    height: 135px;
    background: url('../img/contents/big-divdr.png') left center no-repeat;
}

.hour,
.min,
.sec {
    float: left;
}

.timer-wrap > div + div {
    padding-left: 14px;
    background: url('../img/contents/timer-divdr.png') 4px center no-repeat;
}

.review-qna-tab-wrap {
    background: url('../img/contents/unb-qust.png') left bottom repeat-x;
    margin-top: 25px;
    padding-bottom: 6px;
}

.review-qna-tab-wrap > ul {
    padding-left: 20px;
}

.review-qna-tab-wrap > ul::after {
    content: "";
    display: block;
    clear: both;
}

.review-qna-tab-wrap > ul > li {
    float: left;
    font-size: 0;
}

.review-qna-tab-wrap > ul > li > a {
    width: 176px;
    line-height: 37px;
}

.review-qna-tab-wrap > ul > li:first-child > a{
    background: url('../img/contents/review-tab.png') 0 0 no-repeat;
}

.review-qna-tab-wrap > ul > li:nth-child(2) > a {
    background: url('../img/contents/qust-tab.png') 0 0 no-repeat;
}

.review-qna-tab-wrap > ul > li:nth-child(3) > a {
    background: url('../img/contents/comn-qust-tab.png') 0 0 no-repeat;
}

.review-qna-tab-wrap > ul > li + li {
    margin-left: 3px;
}

.qna-talk-wrap {
    display: flex;
    margin-top: 20px;
}

.pp-bg {
    background: #800aef;
    color: #ffffff;
}

.gray-bg {
    background: url('../img/contents/gray-talk.png') 0 0 no-repeat;
}

.left-talk-wrap {
    width: 176px;
    height: 100%;
    line-height: 69px;
    padding-left: 20px;
    font-size: 12px;
    margin-right: 21px;
    border-radius: 10px;
    position: relative;
}

.right-talk-wrap {
    width: 80%;
    height: 100%;
    margin: 0 20px;
    padding: 20px;
    border-radius: 15px;
    font-size: 12px;
    background: #e8e8e8;
    position: relative;
}

.left-talk-wrap > dl > dt {
    display: none;
}

.del-btn {
    background: url('../img/contents/del-btn.png') 0 0 no-repeat;
    width: 13px;
    height: 13px;
    vertical-align: text-bottom;
}

.right-talk-wrap > p:nth-child(2) {
    margin-top: 19px;
}

.right-talk-wrap > p:nth-child(3),
.right-talk-wrap > p:nth-child(4) {
    margin-top: 24px;
}

.right-talk-wrap > span {
    display: block;
    margin-top: 20px;
    color: #a1a1a1;
}

.left-talk-wrap::after {
    position: absolute;
    right: -21px;
    bottom: -11px;
}

.pp-bg::after {
    content: url('../img/contents/tale-pp.png');
}

.gray-bg::after {
    content: url('../img/contents/tale-left-gray.png');
}

.right-talk-wrap::before {
    content: url('../img/contents/tale-gray.png');
    position: absolute;
    left: -21px;
    top: 19px;
}

.right-talk-wrap > h4 {
    color: #800aef;
}


.right-talk-wrap > p {
    line-height: 1.3;
}

.reply-wrap {
    margin-top: 9px;
}

.reply-wrap > dl > .reply-wrapper > dt {
    display: none;
}

.reply-wrap > dl::before {
    content: url('../img/contents/re-img.png');
}

.reply-wrapper {
    display: inline-block;
    padding-left: 7px;
    vertical-align: top;
}

.reply-wrap > dl > .reply-wrapper > dd:not(:last-child) {
    display: inline-block;
}

.reply-wrapper > dd:last-child {
    margin-top: 11px;
}