#wrap {
    width: 1000px;
    margin: 0 auto;
}

#header-wrap {
    position: relative;
}

.top-list-wrap {
    position: absolute;
    top: 19px;
    right: 0;
}

.top-list-wrap > li {
    font-size: 11px;
    float: left;
}

.top-list-wrap > li + li {
    padding-left: 23px;
}

.top-list-wrap > li > a {
    color: #484848;
}

.top-list-wrap > li a:hover {
    text-decoration: underline;
    color: #8009ef;
    font-weight: bold;
}

.top-list-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.top-menu-wrap {
    margin-top: 30px;
    text-align: center;
    position: relative;
}

.top-menu-wrap > ul {
    display: inline-block;
}

.top-menu-wrap > ul > li {
    float: left;
    width: 104px;
    text-align: center;
    position: relative;
}

.top-menu-wrap > ul > li:hover .hover-position {
    visibility: visible;
}

.top-menu-wrap > ul > li > span {
    position: absolute;
    top: -19px;
    left: 30px;
    background: url('../img/header/spch-bubl-up.png') center top no-repeat;
    font-size: 12px;
    width: 43px;
    height: 19px;
    line-height: 25px;
    padding-right: 3px;
    color: #ffffff;
}

.top-menu-wrap > ul > li + li {
    margin-left: 3px;
}

.top-menu-wrap > ul > li > a {
    display: block;
    font-weight: bold;
    color: #3e3e3e;
}

.top-menu-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.hover-position {
    width: 1000px;
    position: relative;
    left: -235px;
    padding-top: 6px;
    background: url('../img/header/hover-list-top-line.png') left top repeat-x;
}

.hover-position::after {
    content: "";
    display: block;
    clear: both;
}

.hover-menu {
    font-size: 12px;
    text-align: left;
    float: left;
    width: 200px;
    height: 292px;
    padding-top: 20px;
    padding-left: 5px;
    border-top: 1px solid #302e2d;
    border-left: 1px solid #000000;
    border-right: 1px solid #585858;
    background-color: #272524;
    color: #ffffff;
}

.hover-menu:first-child {
    border-left: none;
}

.hover-menu:last-child {
    border-right: none;
}

.hover-menu > dd {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.hover-menu > dd > a {
    color: #ffffff;
}

.hover-menu > dd > a:hover > span {
    text-decoration: underline;
}

.hover-menu > dd > a:focus > span {
    font-weight: bold;
    background-color: #8009ef;
    padding: 4px;
}

.hover-menu > dt {
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

#contents-wrap {
    padding-top: 298px;
}

.notice-wrap {
    padding: 20px 0 17px 16px;
}

.notice-wrap > ul:first-child > li:not(:first-child) {
    font-size: 11px;
    line-height: 16px;
    vertical-align: middle;
    margin-left: 7px;
    width: 84%;
}

.notice-wrap > ul > li > strong,
.notice-wrap > ul > li > a > strong {
    font-size: 14px;
    vertical-align: middle;
}

.notice-wrap > ul > li {
    line-height: 16px;
    float: left;
    font-size: 0;
}

.notice-wrap > ul > li > a {
    color: #484848;
}

.notice-wrap > ul:first-child {
    width: 40%;
    float: left;
}

.notice-wrap > ul:nth-child(2) > li > a {
    display: inline-block;
}

.notice-wrap > ul:nth-child(2) > li > a:hover {
    color: #8009ef;
}

.notice-wrap > ul:nth-child(2) > li > a > img {
    vertical-align: middle;
}

.notice-wrap > ul > li > a + a {
    margin-left: 8px;
}

.notice-wrap > ul:nth-child(2) > li:first-child > strong {
    margin-right: 12px;
}

.notice-wrap > ul:nth-child(2) > li + li {
    padding-left: 26px;
}

.notice-wrap > ul:nth-child(2)::after {
    content: "";
    display: block;
    clear: both;
}

.notice-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.banner-img-area {
    font-size: 0;
    position: relative;
}

.pchang-label {
    position: absolute;
    top: -20px;
    left: -20px;
}

.buyticket-wrap > form {
    text-align: center;
    margin-top: 12px;
}

.buyticket-wrap > form > p {
    font-size: 12px;
}

.buyticket-wrap > form > p:nth-child(2) {
    font-size: 30px;
    margin-top: 9px;
}

.buyticket-wrap > form > button {
    margin-top: 10px;
}

.buyticket-wrap > form > p > strong > span {
    color: #8009ef;
}

.discnt-price-wrap,
.buyticket-wrap {
    display: inline-block;
    vertical-align: top;
}

.discnt-price-wrap {
    padding: 27px 42px 17px 40px;
    font-size: 0;
}

.buyticket-wrap {
    padding-left: 64px;
    height: 135px;
    background: url('../img/contents/big-divdr.png') left center no-repeat;
}

.hour,
.min,
.sec {
    float: left;
}

.timer-wrap > div + div {
    padding-left: 14px;
    background: url('../img/contents/timer-divdr.png') 4px center no-repeat;
}

.review-qna-tab-wrap {
    background: url('../img/contents/unb-qust.png') left bottom repeat-x;
    margin-top: 25px;
    padding-bottom: 6px;
}

.review-qna-tab-wrap > ul {
    padding-left: 20px;
}

.review-qna-tab-wrap > ul::after {
    content: "";
    display: block;
    clear: both;
}

.review-qna-tab-wrap > ul > li {
    float: left;
    font-size: 0;
}

.review-qna-tab-wrap > ul > li > a {
    width: 176px;
    line-height: 37px;
}

.review-qna-tab-wrap > ul > li:first-child > a{
    background: url('../img/contents/review-tab.png') 0 0 no-repeat;
}

.review-qna-tab-wrap > ul > li:nth-child(2) > a {
    background: url('../img/contents/qust-tab.png') 0 0 no-repeat;
}

.review-qna-tab-wrap > ul > li:nth-child(3) > a {
    background: url('../img/contents/comn-qust-tab.png') 0 0 no-repeat;
}

.review-qna-tab-wrap > ul > li + li {
    margin-left: 3px;
}

.qna-talk-wrap {
    display: flex;
    margin-top: 20px;
    padding-bottom: 21px;
    background: url('../img/contents/talk-udbr.png') left bottom repeat-x;
}

.pp-bg {
    background: #800aef;
    color: #ffffff;
}

.gray-bg {
    background: #e8e8e8;
}

.left-talk-wrap {
    width: 176px;
    height: 100%;
    line-height: 69px;
    padding: 0 20px;
    font-size: 12px;
    margin-right: 21px;
    border-radius: 10px;
    position: relative;
    word-wrap: break-word;
}

.right-talk-wrap {
    width: 80%;
    height: 100%;
    margin: 0 20px;
    padding: 20px;
    border-radius: 15px;
    font-size: 12px;
    background: #e8e8e8;
    position: relative;
}

.left-talk-wrap > dl > dt {
    display: none;
}

.del-btn {
    background: url('../img/contents/del-btn.png') 0 0 no-repeat;
    width: 13px;
    height: 13px;
    vertical-align: text-bottom;
}

.question-main-text {
    margin-top: 19px;
}

.question-main-text > p:nth-child(2) {
    margin-top: 19px;
}

.question-main-text > p:nth-child(3),
.question-main-text > p:nth-child(4) {
    margin-top: 24px;
}

.question-main-text > span {
    display: block;
    margin-top: 20px;
    color: #a1a1a1;
}

.left-talk-wrap::after {
    position: absolute;
    right: -21px;
    bottom: -11px;
}

.pp-bg::after {
    content: url('../img/contents/tale-pp.png');
}

.gray-bg::after {
    content: url('../img/contents/tale-left-gray.png');
}

.right-talk-wrap::before {
    content: url('../img/contents/tale-gray.png');
    position: absolute;
    left: -21px;
    top: 19px;
}

.right-talk-wrap > h4 {
    color: #800aef;
}


.question-main-text > p {
    line-height: 1.3;
}

.reply-wrap {
    margin-top: 9px;
}

.reply-wrap > dl > dt {
    display: none;
}

.reply-wrap > dl::before {
    content: url('../img/contents/re-img.png');
}

.reply-wrap > dl > dd {
    display: inline-block;
    padding-left: 7px;
    vertical-align: top;
}

.reply-wrap > dl > dd:not(:last-child) {
    display: inline-block;
}

.reply-wrap > dl > dd:last-child {
    margin-top: 11px;
}

.numbering-wrap {
    font-size: 0;
    text-align: center;
    margin-top: 23px;
}

.numbering-wrap > button {
    vertical-align: middle;
}

.numbering-wrap > ul {
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
}

.numbering-wrap > ul > li {
    float: left;
}

.numbering-wrap > ul > li:first-child {
    margin-left: 13px;
}

.numbering-wrap > ul > li:last-child {
    margin-right: 13px;
}

.numbering-wrap > ul > li + li {
    margin-left: 13px;
}

.numbering-wrap > ul > li > a {
    color: #212121;
    font-weight: bold;
}

.chk-point-wrap {
    padding-bottom: 34px;
    background: url('../img/contents/chkpoint-dividr.png') left bottom no-repeat;
}

.chk-point-wrap > h3 {
    display: inline-block;
    width: 199px;
    height: 61px;
    padding-left: 27px;
    background: url('../img/contents/checkpoint.png') 27px center no-repeat;
}

.chk-point-wrap > ul {
    display: inline-block;
    vertical-align: top;
    margin-left: 44px;
}

.chk-point-wrap > ul > li {
    float: left;
}

.chk-point-wrap > ul::after {
    content: "";
    display: block;
    clear: both;
}

.chkp-wrap > li {
    vertical-align: top;
    height: 61px;
}

.chkp-wrap > li + li {
    margin-left: 20px;
}

.chkp-wrap > li:first-child {
    background: url('../img/contents/parking.png') 0 0 no-repeat;
}

.chkp-wrap > li:first-child,
.chkp-wrap > li:nth-child(2),
.chkp-wrap > li:nth-child(3),
.chkp-wrap > li:nth-child(4) {
    width: 60px;
}

.chkp-wrap > li:nth-child(2) {
    background: url('../img/contents/week.png') 0 0 no-repeat;
}

.chkp-wrap > li:nth-child(3) {
    background: url('../img/contents/reserve.png') 0 0 no-repeat;
}

.chkp-wrap > li:nth-child(4) {
    background: url('../img/contents/expiry-date.png') 0 0 no-repeat;
}

.chkp-wrap > li:nth-child(5),
.chkp-wrap > li:nth-child(6),
.chkp-wrap > li:nth-child(7) {
    width: 66px;
}

.chkp-wrap > li:nth-child(5) {
    background: url('../img/contents/pickup.png') 0 0 no-repeat;
}

.chkp-wrap > li:nth-child(6) {
    background: url('../img/contents/timechng.png') 0 0 no-repeat;
}

.chkp-wrap > li:nth-child(7) {
    background: url('../img/contents/poolspa.png') 0 0 no-repeat;
}

.chkpoint-expl-wrap {
    font-size: 12px;
    background: url('../img/contents/chkpoint-bg.png') 0 0 no-repeat;
    margin-top: 10px;
    padding-bottom: 49px;
}

.pch-condition,
.warning-things {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.pch-condition > h4,
.warning-things > h4 {
    font-size: 0;
    height: 30px;
}

.pch-condition {
    padding-left: 27px;
}

.warning-things {
    padding-left: 47px;
}

.pch-condition> h4 {
    background: url('../img/contents/must-read.png') 0 0 no-repeat;
}

.pch-condition > ul + ul {
    margin-top: 25px;
}

.warning-things> h4 {
    background: url('../img/contents/warning-thing.png') 0 0 no-repeat;
}

.coupon-explain,
.check-in-out-pickup,
.must-use-coupon {
    position: relative;
}

.coupon-explain::before,
.check-in-out-pickup::before,
.must-use-coupon::before {
    content: url('../img/contents/left-dot.png');
    position: absolute;
    left: -27px;
    top: -4px;
}

.coupon-explain > li {
    height: 15px;
    font-size: 0;
}

.coupon-explain > li + li {
    margin-top: 6px;
}

.coupon-explain > li:first-child {
    margin-top: 15px;
    background: url('../img/contents/dateofuse.png') 0 0 no-repeat;
}

.coupon-explain > li:nth-child(2) {
    background: url('../img/contents/warning.png') 0 0 no-repeat;
}
.coupon-explain > li:nth-child(3) {
    background: url('../img/contents/buymaximum.png') 0 0 no-repeat;
}
.coupon-explain > li:nth-child(4) {
    background: url('../img/contents/quantity.png') 0 0 no-repeat;
}

.check-in-out-pickup > li + li {
    margin-top: 4px;
}

.check-in-out-pickup > li:not(:last-child) {
    font-size: 0;
    height: 14px;
}

.pch-condition > .check-in-out-pickup + .must-use-coupon {
    margin-top: 30px;
}

.check-in-out-pickup > li:first-child {
    background: url('../img/contents/checkin-time.png') 0 0 no-repeat;
}

.check-in-out-pickup > li:nth-child(2) {
    background: url('../img/contents/pickup-location.png') 0 0 no-repeat;
}

.check-in-out-pickup > li:nth-child(3) {
    background: url('../img/contents/how-to-pickup.png') 0 0 no-repeat;
    font-size: 0;
    height: 32px;
}

.must-use-coupon > p {
    background: url('../img/contents/must-use-coupon.png') 0 0 no-repeat;
    height: 68px;
    font-size: 0;
}

.warning-things > ul > li {
    font-size: 0;
    height: 14px;
}

.warning-things > ul > li + li {
    margin-top: 7px;
}

.warning-things > ul > li:first-child {
    background: url('../img/contents/text-msg.png') 0 0 no-repeat;
    margin-top: 15px;
}

.warning-things > ul > li:nth-child(2) {
    background: url('../img/contents/price-ticket.png') 0 0 no-repeat;
}

.warning-things > ul > li:nth-child(3) {
    background: url('../img/contents/add-cost.png') 0 0 no-repeat;
}

.warning-things > ul > li:nth-child(4) {
    background: url('../img/contents/reserve-option.png') 0 0 no-repeat;
}

.warning-things > ul > li:nth-child(5) {
    background: url('../img/contents/pay-add-cost.png') 0 0 no-repeat;
}

.warning-things > ul > li:nth-child(6) {
    background: url('../img/contents/non-refundable.png') 0 0 no-repeat;
}

.warning-things > ul > li:nth-child(7) {
    background: url('../img/contents/before-buy-ticket.png') 0 0 no-repeat;
}

.warning-things > ul > li:nth-child(8) {
    background: url('../img/contents/warning-use-ticket.png') 0 0 no-repeat;
}

.diff-qna-wrap {
    margin-top: 8px;
    padding: 20px 18px 20px 19px;
}

#footer {
    padding-top: 49px;
    margin-top: 102px;
    background-color: #e8e8e8;
    border-top: 2px solid #d9d9d9;
}

.footer-wrap {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer-wrap > h2 {
    font-size: 0;
}

.footer-wrap > h2 > a {
    background: url('../img/footer/penti-footer-logo.png') 0 0 no-repeat;
    width: 169px;
    height: 54px;
}

.right-side > ul > li {
    float: left;
}

.right-side > ul > li + li {
    padding-left: 35px;
    background: url('../img/footer/footer-dividr.png') 15px 2px no-repeat;
}

.right-side > ul > li > a {
    font-size: 12px;
    color: #484848;
}

.footer-wrap > h2 + .right-side {
    padding-left: 26px;
    background: url('../img/footer/footer-dividr-long.png') left 0 no-repeat;
}

.right-side > ul::after {
    content: "";
    display: block;
    clear: both;
}

address {
    margin-top: 21px;
}

address > img:nth-child(2) {
    margin-top: 8px;
}