@media (max-width: 1023px) and (min-width: 768px) {
    #wrap {
        width: 768px;
        overflow: hidden;
        margin: 0 auto;
    }

    .ad-position {
        width: 768px;
    }

    .ad-wrap {
        display: none;
    }

    .top-menu-wrap {
        display: none;
    }

    .top-list-wrap {
        right: 10px;
    }

    .top-list-wrap > li {
        font-size: 12px;
    }

    #contents-wrap {
        padding-top: 0;
    }
}