#header-wrap {
    background: url('../img/header/header-left.png') left center no-repeat;
    padding-left: 104px;
    height: 163px;
}

.header-right {
    background: url('../img/header/header-right.png') right center no-repeat;
    padding-right: 103px;
    height: 163px;
}

.header-mid {
    background: url('../img/header/header-mid.png') left center repeat-x;
    height: 163px;
}

h1 {
    padding-top: 39px;
    font-size: 0;
    text-align: center;
}

h1 > a {
    background: url('../img/header/penti-logo.png') center 0 no-repeat;
    padding-top: 54px;
    overflow: hidden;
}

.top-menu-wrap > ul > li {
    font-size: 0;
}

.top-menu-wrap > ul > li > a {
    padding-top: 39px;
    overflow: hidden;
}

.top-menu-wrap > ul > li:first-child > a {
    background: url('../img/header/all-list.png') left 0 no-repeat;
}

.top-menu-wrap > ul > li:nth-child(2) > a {
    background: url('../img/header/gygd-list.png') left 0 no-repeat;
}

.top-menu-wrap > ul > li:nth-child(3) > a {
    background: url('../img/header/gwd-list.png') left 0 no-repeat;
}

.top-menu-wrap > ul > li:nth-child(4) {
    background: url('../img/header/ccjn-list.png') left 0 no-repeat;
}

.top-menu-wrap > ul > li:nth-child(5) {
    background: url('../img/header/gyjj-list.png') left 0 no-repeat;
}

.top-menu-wrap > ul > li:nth-child(6) {
    background: url('../img/header/culture-list.png') left 0 no-repeat;
}

.top-menu-wrap > ul > li:last-child {
    background: url('../img/header/week-list.png') left 0 no-repeat;
}


.n-mark::after {
    content: url('../img/header/n-mark.png');
}

.r-mark::after {
    content: url('../img/header/r-mark.png');
}

.rn-mark::after {
    content: url('../img/header/rn-mark.png');
}

.rn-mark::after,
.r-mark::after,
.n-mark::after {
    vertical-align: middle;
    margin-left: 5px;
}