body {
    background: linear-gradient(transparent, #f1f1f1, #f1f1f1, #f1f1f1, #f1f1f1, #f1f1f1);
}

#header-wrap {
    background: url('../img/header/header-left.png') left center no-repeat;
    padding-left: 104px;
    height: 163px;
}

.header-right {
    background: url('../img/header/header-right.png') right center no-repeat;
    padding-right: 103px;
    height: 163px;
}

.header-mid {
    background: url('../img/header/header-mid.png') left center repeat-x;
    height: 163px;
}

h1 {
    padding-top: 39px;
    font-size: 0;
    text-align: center;
}

h1 > a {
    background: url('../img/header/penti-logo.png') center 0 no-repeat;
    padding-top: 54px;
    overflow: hidden;
}

.top-menu-wrap > ul > li {
    font-size: 0;
}

.top-menu-wrap > ul > li > a {
    padding-top: 39px;
    overflow: hidden;
}

.top-menu-wrap > ul > li:first-child > a {
    background: url('../img/header/all-list.png') left 0 no-repeat;
}

.top-menu-wrap > ul > li:nth-child(2) > a {
    background: url('../img/header/gygd-list.png') left 0 no-repeat;
}

.top-menu-wrap > ul > li:nth-child(3) > a {
    background: url('../img/header/gwd-list.png') left 0 no-repeat;
}

.top-menu-wrap > ul > li:nth-child(4) {
    background: url('../img/header/ccjn-list.png') left 0 no-repeat;
}

.top-menu-wrap > ul > li:nth-child(5) {
    background: url('../img/header/gyjj-list.png') left 0 no-repeat;
}

.top-menu-wrap > ul > li:nth-child(6) {
    background: url('../img/header/culture-list.png') left 0 no-repeat;
}

.top-menu-wrap > ul > li:last-child {
    background: url('../img/header/week-list.png') left 0 no-repeat;
}


.n-mark::after {
    content: url('../img/header/n-mark.png');
}

.r-mark::after {
    content: url('../img/header/r-mark.png');
}

.rn-mark::after {
    content: url('../img/header/rn-mark.png');
}

.rn-mark::after,
.r-mark::after,
.n-mark::after {
    vertical-align: middle;
    margin-left: 5px;
}

.discount-wrap {
    background: url('../img/contents/discnt-cb.png') left 0 no-repeat;
    padding-left: 20px;
    height: 561px;
}

.discount-wrap-right {
    background: url('../img/contents/discnt-cb-right.png') right 0 no-repeat;
    padding-right: 20px;
    height: 561px;
}

.discount-wrap-mid {
    background: url('../img/contents/discnt-cb-mid.png') left 0 repeat-x;
    height: 561px;
    padding-top: 21px;
    position: relative;
}

.buyticket-wrap > form > button {
    background: url('../img/contents/buyticket.png') 0 0 no-repeat;
    width: 270px;
    height: 50px;
    box-shadow: 4px 6px #dbdbdb;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0;
    background: none;
    padding: 0;
}

.timer-wrap {
    position: absolute;
    top: 10px;
    right: 18px;
    font-size: 14px;
    color: #ffffff;
}

.timer-wrap span {
    display: inline-block;
    background: url('../img/contents/timernum-bg.png') 0 0 no-repeat;
    width: 16px;
    line-height: 24px;
    text-align: center;
}

.timer-wrap span + span {
    margin-left: 2px;
}

.qna-wrap {
    padding: 20px 19px;
    border: 1px solid #ececec;
    border-radius: 10px;
    margin: 30px 3px 0 3px;
    background-color: #ffffff;
    font-size: 0;
    box-shadow: 0 5px 5px 1px #b2b2b2;
}

.h3-wrap {
    font-size: 0;
}

.h3-wrap > h3 {
    display: inline-block;
}

.h3-wrap > p {
    margin-left: 15px;
    display: inline-block;
}

.text-area-wrap {
    background-color: #e8e8e8;
    padding: 20px;
    margin-top: 19px;
}

.text-area-wrap > form {
    font-size: 0;
    white-space: nowrap;
}

.textarea-btn {
    height: 117px;
    width: 141px;
    vertical-align: top;
    margin-left: 3px;
    padding: 0;
    background: url('../img/contents/reply-btn.png') 0 0 no-repeat;
}

#QnA {
    padding: 18px 16px;
    width: 770px;
    height: 117px;
    word-break: keep-all;
    white-space: normal;
    box-sizing: border-box;
    font-size: 12px;
    border: 0;
    outline: 0;
    resize: none;
}

.small-btn-wrap {
    font-size: 0;
    margin-top: 20px;
}

.pp-btn {
    width: 45px;
    height: 19px;
}

.pp-btn:first-child {
    background: url('../img/contents/reple-btn.png') 0 0 no-repeat;
}

.pp-btn:nth-child(2) {
    background: url('../img/contents/modif-btn.png') 0 0 no-repeat;
}

.pp-btn:nth-child(3) {
    background: url('../img/contents/delete-btn.png') 0 0 no-repeat;
}

.pp-btn + .pp-btn {
    margin-left: 4px;
}

.howtopenti-wrap > h4 {
    background: url('../img/contents/howtopenti.png') 27px 0 no-repeat;
    height: 30px;
}

.howtopenti-wrap > a {
    display: block;
    height: 78px;
    width: 954px;
    background: url('../img/contents/wait-chk-reserved.png') 0 0 no-repeat;
    margin-top: 30px;
    box-shadow: 0 2px 4px 0 #6c6c6c;
}

.ad-left-wrap,
.ad-right-wrap {
    font-size: 0;
    position: fixed;
    top: 163px;
    box-shadow: 0 5px 10px #B3B2B3;
}

.ad-right-wrap {
    right: 0;
}

.ad-left-top > h3 {
    background: url('../img/ad/left-ad-top.png') 0 top no-repeat;
    height: 41px;
}

.ad-right-top {
    background: url('../img/ad/banner-zone.png') 0 top no-repeat;
    padding-top: 41px;
}

.ad-left-bottom {
    background: url('../img/ad/left-ad-bottom.png') 0 bottom no-repeat;
    padding-bottom: 10px;
}

.ad-left-mid {
    background: url('../img/ad/left-ad-mid.png') 0 top repeat-y;
}

.up-down-btn-wrap {
    font-size: 0;
    background: url('../img/ad/up-down.png') 0 0 no-repeat;
    width: 82px;
    height: 87px;
    position: fixed;
    right: 40px;
    bottom: 0;
}

.up-wrap,
.down-wrap {
    width: 82px;
    height: 50%;
}

.up-wrap > a,
.down-wrap > a {
    height: 100%;
}

#slide-menu {
    display: none;
}

.menu-list-btn {
    display: none;
}